{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>corona</title>
  </head>
  <style>
      .container{
          margin-top: 10px;
          margin-bottom: 15px;
      }
  </style>
  <body style="background-image: url('{%static 'corona.jpg'%}')">

    <h1 style="color:rgb(15, 13, 13);text-align:center; margin-top:50px"><span style="color: red;">COVID-19</span> WORLDWIDE DATA</h1>

    <form method="POST" class="d-flex justify-content-center align-items-center" action="">
            {%csrf_token%}
        <select class="form-control" style="width: 200px; margin-top:50px" name="selectedcountry">
            {%for country in mylist%}
            <option>
                {{country}}
            </option>
            {%endfor%}
        </select>
        <button style="margin-top: 50px;" type="submit" class="btn btn-danger" >Submit</button>
    </form>
    <h1 style="text-align: center; color:white; margin-top:70px;" >{{selectedcountry}}</h1> <br> <br>

    <div class="d-flex justify-content-center align-items-center">
        <div class="container" style="border-radius:15px; height: 100px; background-color:rgb(231, 174, 168); width: 200px;">
            <p style="text-align: center; color:rgb(15, 13, 13)">new cases</p>
            <h1 style="text-align: center; color:rgb(12, 9, 9)">{{new}}</h1>
        </div>
        <div class="container" style="border-radius:15px; height: 100px; background-color:rgb(243, 150, 134); width: 200px;">
            <p style="text-align: center; color:rgb(7, 6, 6)">critical cases</p>
            <h1 style="text-align: center; color:rgb(19, 15, 15)">{{critical}}</h1>
        </div>
        <div class="container" style="border-radius:15px; height: 100px; background-color:rgb(154, 143, 228); width: 200px;">
            <p style="text-align: center; color:rgb(19, 13, 13)">active cases</p>
            <h1 style="text-align: center; color:rgb(12, 9, 9)">{{active}}</h1>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center">
        <div class="container" style="border-radius:15px; height: 100px; background-color:rgb(118, 174, 219); width: 200px;">
            <p style="text-align: center; color:rgb(15, 12, 12)">Total cases</p>
            <h1 style="text-align: center; color:rgb(14, 10, 10)">{{total}}</h1>
        </div>
        <div class="container" style="border-radius:15px; height: 100px; background-color:rgb(145, 231, 145); width: 200px;">
            <p style="text-align: center; color:rgb(14, 10, 10)">Recovered cases</p>
            <h1 style="text-align: center; color:rgb(17, 14, 14)">{{recovered}}</h1>
        </div>
        <div class="container" style="border-radius:15px; height: 100px; background-color:rgb(235, 122, 122); width: 200px;">
            <p style="text-align: center; color:rgb(15, 10, 10)">Death cases</p>
            <h1 style="text-align: center; color:rgb(17, 13, 13)">{{deaths}}</h1>
        </div>
    </div>

    <p style="margin-top:100px; text-align: center; color:black">Developed By <span style="color: gray;">Suraj</span></p>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>



<!-- img src = "{%static 'corona.jpg'%}" -->